#main-header .display-4 {
  font-size: 2.42rem;
}
.black {
  background: black;
}
.port-item {
  width: 25%;
}
.port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
  #main-header .display-4 {
    text-align: center;
  }
  .port-item {
    padding: 1em !important;
  }
  #main-footer .p-0 {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .mb-rspv {
    margin-bottom: 1.5rem;
  }
}

/* Port Item  Media Query*/
@media (min-width: 768px) and (max-width: 992px) {
  .port-item {
    padding: 0.15em !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .port-item {
    padding: 0.82em !important;
  }
}
@media (min-width: 1199px) {
  .port-item {
    padding: 2.67em !important;
  }
}
